<h2>Ninja Listing</h2>

<form id="filter">
  <label>Filter ninjas by name</label>
  <input type="text" name="inp" [(ngModel)]="warm" />

</form>
<ul id="ninja-listing">
  <li *ngFor="let ninja of ninjas | filter:warm">
    <div class="single-ninja">

      <!-- belt color -->
      <span [ngStyle]="{background:ninja.belt}">{{ninja.belt}} Belt</span>
      <h3>{{ninja.name}}</h3>
    </div>



  </li>
</ul>

<form id="add-ninja">
  <input type="text" name="ninjaname" [(ngModel)]="name"/>
  <input type="text" name="beltname" [(ngModel)]="belt" />
  <button (click)="fbPostData(name,belt)">Add Ninja</button>
</form>
